{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - La boutique Française{% endblock %}

{% block body %}
<div class="container">
    <h1>Une erreur de paiement est survenue</h1>
    <h4>Merci de verifier vos informations puis reesayez</h4>
    <p>Si le probleme persiste veuillez contactez votre banque</p>

    <br><hr><br>
    
    <strong>Une nouvelle page plus jolie viendra bientôt remplacer celle-ci</strong>
</div>

{% endblock %}