<h1>Bienvenue sur la boutique Française</h1>

<p>
    Pour activé votre compte veuillez cliqué sur le lien ci-dessous <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expire 1 heure apres sa reception.
</p>
