<h1>Commande est en cours de preparation</h1>
<p>
    Bonjour {{ username }}, votre commande n° {{ reference }} est en cours de préparation par notre equipe 
    elle vous sera expedier dans les plus bref delais. <br>
    Vous pouvez suivre l'avancement de votre commande sur votre compte rubrique "mes commandes"
</p>