{% extends 'base.html.twig' %}

{% block title %}Contact - La boutique Française{% endblock %}

{% block body %}
<div class="container">
    <h1>Page de Contact</h1>
    <hr>
    <div class="contact-form">
        {{ form(form) }}
    </div>
</div>
<hr class="separator">
{% endblock %}
