{% extends 'base.html.twig' %}

{% block title %}La boutique Française - Compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier votre mot de passe :</h1>
        <a href="{{ path('user_account') }}">Retour</a>
        <br><hr><br>

        {% for error in app.flashes('error') %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        {{ form(form) }}

        <hr class="separator">
    </div>
{% endblock %}